<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- ※ 스프링이 제공하는 환경 설정 XML 파일 샘플 -->
	<!-- → 스프링이 생성하고 관리해야 할 객체들에 대한 정보 전달 -->
	
<!-- 아래 작업하다가 DAO 필요해서 생성하러 올라옴! =========================== -->

	<!-- OracleDAO 클래스에 대한 객체 정보를 전달 -->
	<!-- → 필요한 경우 스프링이 이를 확인해서 생성하고 유지 및 관리 -->
	<bean id="oracleDAO" class="com.test.spr.OracleDAO"></bean>
	
	<!-- MssqlDAO 클래스에 대한 객체 정보를 전달 -->
	<!-- → 필요한 경우 스프링이 이를 확인해서 생성하고 유지 및 관리 -->
	<bean id="mssqlDAO" class="com.test.spr.MssqlDAO"></bean>
	
<!-- ========================================================================== -->	
	
	
	<!-- main 에서 써야하는 건 MemberList -->
	<!-- MemberList 클래스에 대한 객체 정보를 전달 -->
	<!-- → 필요한 경우 스프링이 이를 확인해서 생성하고 유지 및 관리 -->
	
	<!-- → 그런데... MemberList 클래스의 경우 -->
	<!-- 위에서 독립적으로 생성할(생성한) DAO 관련 클래스들과 달리 -->
	<!-- 의존 객체에 대한 주입이 필요한 상황~!!! -->
	<!-- 
		스프링이 이 설계도 가지고 member 만들려고 하면 제대로 만들 수 없다.
		얘한테 dao 끼워넣어야 dao 활용해서 업무하는데...
		dao가 지금은 없는 상황
		
		그렇기 때문에 id=member 가 존재하기 위해서는,'
		OracleDAO 클래스에 대한 객체 정보를 전달해줘야 한다.  
		→ 위로 올라가서 객체 정보 전달하고 옴(Line 10 ~ 20)
 	-->	
	<bean id="member" class="com.test.spr.MemberList">
		<!-- bean 을 구성하는 과정에서 property 에 객체를 주입할 수 있도록 처리 -->
		<!-- 						   ========    ==== 						-->
		<!-- 							  dao      oracleDAO 또는 mssqlDAO 		-->
		
		<!-- property 를 확인한 스프링은 -->
		<!-- 여기에 값을 전달할 수 있도록 알아서 setter 를 찾아서 호출 -->
		<property name="dao">
			<!-- <ref bean="oracleDAO"/> -->
			<ref bean="mssqlDAO"/>
		</property>
	</bean>
	
	<!-- xml 문서 읽기만하면 스프링이 내용 다 확인할 수 있기 때문에
		 main 에서 이 xml 문서 읽도록 설정해주면 된다 -->
</beans>